<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>QuestMap</title>
  </head>

  <body>
    <div class="quest">
      <h2>QuestMap</h2>
      <h3>your destination awaits!</h3>
      <form id="myForm" method="get" onsubmit="getInfo(); return false;">
        <label for="currentLocation">From:</label><br>
        <input type="text" id="currentLocation" name="currentLocation" required><br>
        <label for="destination">To:</label><br>
        <input type="text" id="destination" name="destination" required><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  <script>
  function getInfo(){
    var currentLocation = document.getElementById("currentLocation").value;
    var destination = document.getElementById("destination").value;
    var url = "/directions/" + currentLocation + "/" + destination;
    // open in same window
    // window.location.href = url;
    // open in new window
    var win = window.open(url, '_blank');
  }
  </script>
  </body>
</html>